*{
  margin: 0;
  padding: 0:
}
html{
  /*background-color: #0f0e17;*/
  background-image: url("https://cdn.glitch.global/b3fabd8f-d8a8-47ea-9e16-a4bff0c1234a/y-so-serious.png?v=1664345580503");
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color:  #a7a9be;
}

h1{
  font-size: 3.5rem;
  color: #fffffe;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

h2{
  font-size: 1.5rem;
  text-decoration: underline dashed #f25f4c;
  font-weight: bold;
}

li{
  line-height: 2.5
}

a:link{
  color:  #f25f4c;
}

img{
  opacity: 0.7;
  height: 500px;
  width: auto;
}

ul li{
  list-style-type: square;
  
}

ol li{
  list-style-type: upper-roman;
}

/* no touchy */
ul, ol {
  padding-left: 40px;
}
